{% load crispy_forms_tags %}


<form hx-post="{{ request.path }}" class="modal-content">
	{% csrf_token %}
	<div class="modal-header"> 
	  <h5 class="modal-title"><i class="ri-user-add-line" style="color: #92e3a9;"></i> Додати авторів</h5>
	</div>
	<div class="modal-body">
		{% csrf_token %}
		{{ form|crispy }}
	</div>
	<div class="modal-footer">
		<button type="submit" id="modal-save-btn">Зберегти</button>
		<button type="button" data-bs-dismiss="modal" id="modal-close-btn">Закрити</button>
	</div>
</form>
