{% extends 'students.html' %}


{% block homea-reset-btn %}
<a href="{% url 'phdc_app:blacklists_cats' category=category %}">
  <i class="ri-restart-line"></i>
</a>
{% endblock homea-reset-btn %}

{% block homea-search-field-input %}
<input class="form-control" type="text" name="black_q" placeholder="Пошук"
       hx-get="{% url 'phdc_app:blacklist_list' category %}"
       hx-trigger="keyup changed delay:500ms"
       hx-target="#author-list">
{% endblock homea-search-field-input %}

{% block homea-section-title %}
<i class="ri-user-search-line"></i>&nbsp;Список перевірки<p style="font-size: 2.5rem; text-align: center; position: relative;">Категорії: "{{ category }}"</p>
{% endblock homea-section-title %}

{% block filters %}{% endblock filters %}

{% block s-table %}
<table id="sg-table" style="position: relative; top: 5% !important;">
{% endblock s-table %}

{% block s-table-title-col %}
<tr>
  <th>ПІБ</th>
  <th>Причина</th>
  <th>Дата</th>
  <th colspan="2">Дія</th>
</tr>
{% endblock s-table-title-col %}

{% block s-table-data-col %}
<tbody id="blacklist-list" hx-trigger="load, blacklistUpdate from:body" hx-get="{% url 'phdc_app:blacklist_list' category %}" hx-target="this">
{% endblock s-table-data-col %}