{% extends 'students.html' %}


{% block base-title %} PHDCENTRE: Кафедри {% endblock base-title %}

{% block homea-reset-btn %}
<a href="{% url 'phdc_app:departments' %}">
  <i class="ri-restart-line"></i>
</a>
{% endblock homea-reset-btn %}

{% block homea-search-field-input %}
<input class="form-control" type="text" name="departments_q" placeholder="Пошук" 
       hx-get="{% url 'phdc_app:department_list' %}" 
       hx-trigger="keyup changed delay:500ms"
       hx-target="#department-list">
{% endblock homea-search-field-input %}

{% block homea-section-title %} <i class="ri-school-line"></i>&nbsp;Кафедри {% endblock homea-section-title %}

{% block s-table-add-btn %}
<div class="table-add-btn" id="dep-add-btn" style="position: relative; top: -1% !important; left: 3.5%;">
  <button hx-get="{% url 'phdc_app:add_department' %}" hx-target="#dialog" data-bs-backdrop="static" class="btn btn-outline-secondary main-btn add-btn">
    <i class="ri-add-circle-line"></i>  Створити кафедру
  </button>
</div>
{% endblock s-table-add-btn %}

{% block filters %}{% endblock filters %}

{% block s-table %}
<table id="spec-table">
{% endblock s-table %}

{% block s-table-title-col %}
<tr>
  <th>Назва</th>
  <th>Абревіатура</th>
  <th colspan="2">Дія</th>
</tr>
{% endblock s-table-title-col %}

{% block s-table-data-col %}

<tbody id="department-list" hx-trigger="load, departmentUpdate from:body" hx-get="{% url 'phdc_app:department_list' %}" hx-target="this">
    {% include 'department_list.html' %}
</tbody>
{% endblock s-table-data-col %}