{% extends 'students.html' %}


{% block base-title %} PHDCENTRE: Протоколи {% endblock base-title %}

{% block homea-reset-btn %}
<a href="{% url 'phdc_app:protocols' id=id %}">
	<i class="ri-restart-line"></i>
</a>
{% endblock homea-reset-btn %}

{% block homea-search-field-input %}
<input class="form-control" type="text" name="protocols_q" placeholder="Пошук"
       hx-get="{% url 'phdc_app:protocol_list' id=id %}"
       hx-trigger="keyup changed delay:500ms"
       hx-target="#educ-plan-list">
{% endblock homea-search-field-input %}

{% block homea-section-title %} 
<i class="ri-file-list-2-line"></i>&nbsp;Протоколи аспіранта<p style="font-size: 2.5rem; text-align: center; position: relative;">{{ student.lastname }} {{ student.firstname }} {{ student.middlename }}</p> 
{% endblock homea-section-title %}

{% block s-table-add-btn %}
<div class="table-add-btn" id="protocol-add-btn" style="position: relative; top: -5.5rem; left: 3rem;">
  <button hx-get="{% url 'phdc_app:add_protocol' id=id %}" hx-target="#dialog" data-bs-backdrop="static" class="btn btn-outline-secondary main-btn add-btn">
    <i class="ri-sticky-note-add-line"></i> Створити протокол
  </button>
</div>
{% endblock s-table-add-btn %}

{% block filters %}
<form id="filter-form" hx-get="{% url 'phdc_app:protocol_list' id=id %}" hx-target="#educ-plan-list" hx-trigger="change from:select[name='department_id']" style="position: relative; top: 3rem;">
    <div class="s-table-filters">
        <p><i class="ri-filter-line"></i>Фільтри</p>
    </div>
    <ul class="s-table-filters-select" style="position: relative; top: -2rem;">
        <li class="s-table-filters-group" id="sg-filter-dep">
            <label for="department_id" id="filter-department">Кафедра:</label>
            <div class="select-wrapper">
                <select name="department_id" id="department_id" class="form-select" style="font-size: 0.85rem; border-radius: 30px;">
                    <option value="">Всі</option>
                    {% for department in departments %}
                    <option value="{{ department.id }}" {% if department.id|stringformat:"s" == selected_department_id %}selected{% endif %}>
                        {{ department.abbreviation }}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </li>
    </ul>
</form>
{% endblock filters %}

{% block s-table %}
<table id="sg-table" style="position: relative; top: -3.5rem;">
{% endblock s-table %}

{% block s-table-title-col %}
<tr>
	<th>Номер</th>
	<th>Дата</th>
	<th>Кафедра</th>
	<th colspan="2">Дія</th>
</tr>
{% endblock s-table-title-col %}

{% block s-table-data-col %}
<tbody id="educ-plan-list" hx-trigger="load, protocolUpdated from:body"
       hx-get="{% url 'phdc_app:protocol_list' id=id %}" hx-target="this">
    {% include 'protocol_list.html' %}
</tbody>
{% endblock s-table-data-col %}