{% for data in protocols %}
<tr>
    <td>{{ data.number }}</td>
    <td>{{ data.date }}</td>
    <td>{{ data.department_id.abbreviation }}</td>
    <td class="s-table-btns">
        <button hx-get="{% url 'phdc_app:edit_protocol' id=data.id student_id=student.id %}" hx-target="#dialog" data-bs-backdrop="static" class="btn btn-outline-secondary btn-sm text-light" id="table-btn">
            <i class="ri-file-edit-line"></i>
        </button>
        <button hx-get="{% url 'phdc_app:delete_protocol' id=data.id %}" hx-target="#dialog" data-bs-backdrop="static" class="btn btn-outline-secondary btn-sm text-light" id="table-delete-btn">
            <i class="ri-delete-bin-line"></i>
        </button>
    </td>
    {% empty %}
    <td colspan="8" class="s-table-empty-rcrd"><strong>Записи відсутні</strong></td>
</tr>
{% endfor %}
