{% extends 'dissertation.html' %}
{% load crispy_forms_tags %}


{% block base-title %} PHDCENTRE: Редагування публікації {% endblock base-title %}

{% block homea-cards-list-content %}
<div class="container mt-3" style="width: 95%; font-size: 14px; position: relative; top: 4.5rem;">
	<form method="POST" class="card p-3 mt-5" autocomplete="off" novalidate id="diss-creation-form" style="border-radius: 30px; border-color: #e9ebee;">
		{% csrf_token %}
		<div class="card p-3 border-dark text-center" style="font-size: 18px; font-weight: 400;"> 
			{% block diss-add-title %}
			<span><i class="ri-file-edit-line" id="form-section-title-i" style="color: #92e3a9;"></i>Редагування публікації</span>
			{% endblock diss-add-title %}  
		</div>
		<br>
		<div class="row">
			<div class="col-3">{{ form.name|as_crispy_field }}</div>
			<div class="col-3">{{ form.type_id|as_crispy_field }}</div>
			<div class="col-3">{{ form.doi|as_crispy_field }}</div>
			<div class="col-3">{{ form.edition_id|as_crispy_field }}</div> 
		</div>
		<div class="row">
			<div class="col-3">{{ form.volume|as_crispy_field }}</div>
			<div class="col-3">{{ form.number|as_crispy_field }}</div>
			<div class="col-3">{{ form.pages|as_crispy_field }}</div>
			<div class="col-3">{{ form.year|as_crispy_field }}</div> 
		</div>
		<div class="row">
			<div class="col-3">
				{% if group.name == "phdstudents" %}
					<input type="text" class="form-control" name="is_suitable" value="{{ form.is_suitable.value }}" readonly>
				{% else %}
					{{ form.is_suitable|as_crispy_field }}
				{% endif %}
			</div>
				
			<div class="col-3">
				{% if group.name == "phdstudents" %}
					<input type="text" class="form-control" name="coef" value="{{ form.coef.value }}" readonly>
				{% else %}
					{{ form.coef|as_crispy_field }}
				{% endif %}
			</div>
		</div>
		<br>
		<hr>
		<button type="submit" class="btn btn-dark mt-3" id="form-main-btn">Зберегти</button>  
	</form>
</div>
{% endblock homea-cards-list-content %}