{% extends 'students.html' %}


{% block base-title %} PHDCENTRE: Звіти {% endblock base-title %}

{% block homea-reset-btn %}
<a href="{% url 'phdc_app:reports' id=id %}">
	<i class="ri-restart-line"></i>
</a>
{% endblock homea-reset-btn %}

{% block homea-search-field-input %}
<input class="form-control" type="text" name="orders_q" placeholder="Пошук"
       hx-get="{% url 'phdc_app:report_list' id=id %}"
       hx-trigger="keyup changed delay:500ms"
       hx-target="#educ-plan-list">
{% endblock homea-search-field-input %}

{% block homea-section-title %} 
<i class="ri-todo-line"></i>&nbsp;Звіти аспіранта<p style="font-size: 2.5rem; text-align: center; position: relative;">{{ student.lastname }} {{ student.firstname }} {{ student.middlename }}</p> 
{% endblock homea-section-title %}

{% block s-table-add-btn %}
<div class="table-add-btn" id="report-add-btn" style="position: relative; top: -1rem; left: 5rem;">
  <button hx-get="{% url 'phdc_app:add_report' id=id %}" hx-target="#dialog" data-bs-backdrop="static" class="btn btn-outline-secondary main-btn add-btn">
    <i class="ri-file-add-line"></i> Додати файл
  </button>
</div>
{% endblock s-table-add-btn %}

{% block filters %}{% endblock filters %}

{% block s-table %}
<table id="sg-table" style="position: relative; top: 1rem;">
{% endblock s-table %}

{% block s-table-title-col %}
<tr>
	<th>Назва файлу</th>
	<th colspan="2">Дія</th>
</tr>
{% endblock s-table-title-col %}

{% block s-table-data-col %}
<tbody id="order-list" hx-trigger="load, reportUpdated from:body"
       hx-get="{% url 'phdc_app:report_list' id=id %}" hx-target="this">
    {% include 'report_list.html' %}
</tbody>
{% endblock s-table-data-col %}