
{% for data in students %}
<tr>
  <td>{{ data.lastname }} {{ data.firstname }} {{ data.middlename }}</td>
  <td class="s-table-btns">
    <a href="{% url 'phdc_app:student_profile' data.id %}" hx-target="#dialog" data-bs-backdrop="static" class="btn btn-outline-secondary btn-sm text-light" id="table-btn">
      <i class="ri-eye-line"></i>
    </a>
    <button hx-get="{% url 'phdc_app:delete_seminar_subscriber' seminar_id=id student_id=data.id %}" hx-target="#dialog" data-bs-backdrop="static" class="btn btn-outline-secondary btn-sm text-light" id="table-delete-btn">
      <i class="ri-user-unfollow-line"></i>
    </button>
  </td>
{% empty %}
  <td colspan="2" class="s-table-empty-rcrd"><strong>Записи відсутні</strong></td>
</tr>
{% endfor %}