<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title"><i class="ri-add-line" style="color: #92e3a9;"></i>&nbsp;Реєстрація на семінар</h5>
		</div>
		<div class="modal-body">
		  <p class="text-center" style="font-size: 1.2rem; font-weight: 400; color:#92e3a9;">{{ info }}</p>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modal-close-btn">Закрити</button>
		</div>
	</div>
  </div>
  