<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"><i class="ri-notification-4-line" style="color: #92e3a9;"></i> Сповіщення</h5>
        </div>
        <div class="modal-body">
            {% for notification in notifications %}
                <div class="row mb-2 notification-row "
                     data-id="{{ notification.id }}">
                    <div class="col-8 text-wrap">
                        <p class="mb-0">{{ notification.description }}</p>
                    </div>
                    <div class="col-4 text-end">
                        <p class="mb-0">{{ notification.date|date:"F j, g:i a" }}</p>
                    </div>
                    
                </div>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modal-close-btn">Закрити</button>
            <form action="{% url 'phdc_app:show_student_notifications' %}" method="post" id="notifications-form">
                {% csrf_token %}
                <button type="submit" data-bs-backdrop="static" id="modal-save-btn">
                    Прочитати
                </button>
            </form>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const notificationRows = document.querySelectorAll('.notification-row');
    notificationRows.forEach(row => {
        row.addEventListener('click', function() {
            const notificationId = this.getAttribute('data-id');
            fetch(`/mark_as_read/${notificationId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ is_read: 'Так' })
            })
            .then(response => {
                if (response.ok) {
                    this.classList.remove('bg-success');
                } else {
                    console.error('Failed to mark notification as read');
                }
            });
        });
    });
});
</script>
