{% extends 'home_admin.html' %}


{% block base-title %} PHDCENTRE: Аспіранти {% endblock base-title %}

{% block homea-reset-btn %}
<a href="{% url 'phdc_app:students' %}">
	<i class="ri-restart-line"></i>
</a>
{% endblock homea-reset-btn %}

{% block homea-search-field-input %}
<input class="form-control" type="text" name="students_q" placeholder="Пошук" value="{{ request.GET.students_q }}">
{% endblock homea-search-field-input %}

{% block homea-main-container %}s-main-container{% endblock homea-main-container %}

{% block homea-section-title %} <i class="ri-graduation-cap-line"></i>&nbsp;Аспіранти {% endblock homea-section-title %}

{% block homea-cards-list %} container mt-3 s-main-section {% endblock homea-cards-list %}
{% block homea-cards-list-content %}
{% block filters %}
<form method="GET" class="mt-5 mb-2">
	{% csrf_token %}
	<div class="s-table-filters">
		<p><i class="ri-filter-line"></i>Фільтри</p>
		<div class="btn-group wd-100" role="group" aria-label="Basic radio toggle button group">

			<div class="s-table-filters-status">
				<input type="submit" class="btn-check" value="Навчається" name="status" id="btnradio1"
					autocomplete="off">
				<label class="btn btn-outline-secondary s-table-filter filter-green" for="btnradio1">Навчаються</label>

				<input type="submit" class="btn-check" value="Академвідпустка" name="status" id="btnradio2"
					autocomplete="off">
				<label class="btn btn-outline-secondary s-table-filter filter-orange"
					for="btnradio2">Академвідпустка</label>

				<input type="submit" class="btn-check" value="Відрахований(-а)" name="status" id="btnradio3"
					autocomplete="off">
				<label class="btn btn-outline-secondary s-table-filter filter-red" for="btnradio3">Відраховані</label>
			</div>

			<div class="vr vr-status"></div>

			<div class="s-table-filters-graduation">
				<input type="submit" class="btn-check" value="Так" name="is_graduate" id="btnradio4" autocomplete="off">
				<label class="btn btn-outline-secondary s-table-filter filter-green" for="btnradio4">Випускники</label>

				<input type="submit" class="btn-check" value="Ні" name="is_graduate" id="btnradio5" autocomplete="off">
				<label class="btn btn-outline-secondary s-table-filter filter-red" for="btnradio5">Не випускники</label>
			</div>

			<div class="vr vr-gr"></div>

			<div class="s-table-filters-approved">
				<input type="submit" class="btn-check" value="Затверджені" name="is_approved" id="btnradio6"
					autocomplete="off">
				<label class="btn btn-outline-secondary s-table-filter filter-green" for="btnradio6">Затверджені</label>

				<input type="submit" class="btn-check" value="Очікується перевірка" name="is_approved" id="btnradio7"
					autocomplete="off">
				<label class="btn btn-outline-secondary s-table-filter filter-orange" for="btnradio7">Очікується
					перевірка</label>

				<input type="submit" class="btn-check" value="Не затверджені" name="is_approved" id="btnradio8"
					autocomplete="off">
				<label class="btn btn-outline-secondary s-table-filter filter-red" for="btnradio8">Не
					затверджені</label>
			</div>

			<div class="s-table-filters-def">
				<input type="submit" class="btn-check" value="Захист відсутній" name="is_defended" id="btnradio9"
					autocomplete="off">
				<label class="btn btn-outline-secondary s-table-filter filter-grey" for="btnradio9">Захист
					відсутній</label>

				<input type="submit" class="btn-check" value="Рекомендований(-а) до захисту" name="is_defended"
					id="btnradio10" autocomplete="off">
				<label class="btn btn-outline-secondary s-table-filter filter-orange"
					for="btnradio10">Рекомендовані</label>

				<input type="submit" class="btn-check" value="Захистився(-лась)" name="is_defended" id="btnradio11"
					autocomplete="off">
				<label class="btn btn-outline-secondary s-table-filter filter-green"
					for="btnradio11">Захистились</label>

				<input type="submit" class="btn-check" value="Не захистився(-лась)" name="is_defended" id="btnradio12"
					autocomplete="off">
				<label class="btn btn-outline-secondary s-table-filter filter-red" for="btnradio12">Не захистились</label>
			</div>
		</div>
	</div>

	<ul class="s-table-filters-select">
		<li class="s-table-filters-group">
			<label for="study_group_id" id="filter-st">Група:</label>
			<div class="select-wrapper">
				<select name="study_group_id" id="study_group_id" class="form-select" onchange="this.form.submit()" style="font-size: 0.85rem; border-radius: 30px;">
					<option value="">Всі</option>
					{% for group in study_groups %}
					<option value="{{ group.id }}" {% if group.id|stringformat:"s" == selected_study_group_id %}selected{% endif %}>
						{{ group.name }}
					</option>
					{% endfor %}
				</select>
			</div>
		</li>
	
		<li class="s-table-filters-specialty">
			<label for="specialty_id">Спеціальність:</label>
			<div class="select-wrapper">
				<select name="specialty_id" id="specialty_id" class="form-select" onchange="this.form.submit()" style="font-size: 0.85rem; border-radius: 30px;">
					<option value="">Всі</option>
					{% for specialty in specialties %}
					<option value="{{ specialty.id }}" {% if specialty.id|stringformat:"s" == selected_specialty_id %}selected{% endif %}>
						{{ specialty.number }}
					</option>
					{% endfor %}
				</select>
			</div>
		</li>
	</ul>
</form>
{% endblock filters %}

{% block s-table-add-btn %}{% endblock s-table-add-btn %}

{% block s-table %}
<table id="s-table">
	{% endblock s-table %}
	<thead>
		{% block s-table-title-col %}
		<tr>
			<th>ПІБ</th>
			<th style="width: 150px;">Група</th>
			<th style="width: 200px;">Спеціальність</th>
			<th>Статус</th>
			<th style="width: 210px;">Випускник(-ця)</th>
			<th>Захист наукових робіт</th>
			<th>Затверджено</th>
			<th colspan="2">Дія</th>
		</tr>
		{% endblock s-table-title-col %}
	</thead>

	{% block s-table-data-col %}
	<tbody>
		{% for data in students %}
		<tr>
			<td>{{ data.lastname }} {{ data.firstname }} {{ data.middlename }}</td>
			<td>{{ data.study_group_id }}</td>
			<td>{{ data.specialty_id.number }}</td>
			<td style="width: 200px;">
				{% if data.status == 'Навчається' %}
				<p class="s-table-status status-study">{{ data.status }}</p>
				{% elif data.status == 'Відрахований(-а)' %}
				<p class="s-table-status status-expelled">{{ data.status }}</p>
				{% elif data.status == 'Академвідпустка' %}
				<p class="s-table-status status-academ">{{ data.status }}</p>
				{% endif %}
			</td>
			<td>{{ data.is_graduate }}</td>
			<td style="width: 270px;">
				{% if data.is_defended == 'Захистився(-лась)' %}
				<p class="s-table-status status-study">{{ data.is_defended }}</p>
				{% elif data.is_defended == 'Рекомендований(-а)' %}
				<p class="s-table-status status-academ">{{ data.is_defended }}</p>
				{% elif data.is_defended == 'Не захистився(-лась)' %}
				<p class="s-table-status status-expelled">{{ data.is_defended }}</p>
				{% else %}
				{{ data.is_defended }}
				{% endif %}
			</td>
			<td style="width: 190px;">
				{% if data.is_approved == 'Очікується перевірка' %}
				<i class="ri-time-line" style="color: #FFB480; font-size: 1rem;"></i>
				{% elif data.is_approved == 'Затверджено' %}
				<i class="ri-checkbox-circle-line" style="color: #92e3a9; font-size: 1rem;"></i>
				{% elif data.is_approved == 'Не затверджено' %}
				<i class="ri-close-circle-line" style="color: #ff7a72; font-size: 1rem;"></i>
				{% endif %}
			</td>
			<td class="s-table-btns" style="width: 140px;">
				<a href="{% url 'phdc_app:student_profile' data.id %}"
					class="btn btn-outline-secondary btn-sm text-light" id="table-btn">
					<i class="ri-eye-line"></i>
				</a>
				<button hx-get="{% url 'phdc_app:delete_student' id=data.id  %}" hx-target="#dialog" data-bs-backdrop="static" class="btn btn-outline-secondary btn-sm text-light" id="table-delete-btn">
					<i class="ri-delete-bin-line"></i>
				</button>	
			</td>
			{% empty %}
			<td colspan="8" class="s-table-empty-rcrd"><strong>Записи відсутні</strong></td>
		</tr>
		{% endfor %}
	</tbody>
	{% endblock s-table-data-col %}
</table>

<nav class="table-pagination">
	{% if students.has_other_pages %}
	<ul class="pagination">
		{% if students.has_previous %}
		<a href="?page=1" class="btn btn-outline-secondary mb-4"><i class="ri-arrow-left-double-line"></i></a>
		{% else %}
		<li class="page-item disabled"></li>
		{% endif %}

		{% for el in students.paginator.page_range %}
		{% if students.number == el %}
		<li class="page-item active"><span class="page-link">{{ el }}<span class="sr-only"></span></span></li>
		{% else %}
		<li class="page-item"><a class="page-link" href="?page={{ el }}">{{ el }}</a></li>
		{% endif %}
		{% endfor %}

		{% if students.has_next %}
		<a href="?page={{ students.paginator.num_pages }}" class="btn btn-outline-secondary mb-4"><i
				class="ri-arrow-right-double-line"></i></a> <!-- Остання -->
		{% else %}
		<li class="page-item disabled"></li>
		{% endif %}
	</ul>
	{% endif %}
</nav>
{% endblock homea-cards-list-content %}