{% extends 'students.html' %}


{% block base-title %} PHDCENTRE: Навчальна група {% endblock base-title %}

{% block homea-reset-btn %}
<a href="{% url 'phdc_app:study_group' study_group.id %}">
	<i class="ri-restart-line"></i>
</a>
{% endblock homea-reset-btn %}

{% block homea-section-title %} <i class="ri-group-line"></i>&nbsp;{{ study_group.name }} {% endblock homea-section-title %}

{% block filters %}{% endblock filters %}

{% block s-table %}
<table id="spec-table">
{% endblock s-table %}

{% block s-table-title-col %}
<tr>
	<th>Аспіранти</th>
	<th colspan="2">Дія</th>
</tr>
{% endblock s-table-title-col %}

{% block s-table-data-col %}
{% for data in students %}
<tr>
	<td>{{ data.lastname }} {{ data.firstname }} {{ data.middlename }}</td>
	<td class="s-table-btns">
		<a href="{% url 'phdc_app:student_profile' data.id %}" class="btn btn-outline-secondary btn-sm text-light" id="table-btn">
			<i class="ri-eye-line"></i>
		</a>
	</td>
	{% empty %}
	<td colspan="2" class="s-table-empty-rcrd"><strong>Записи відсутні</strong></td> 
</tr>
{% endfor %}
{% endblock s-table-data-col %}